body {

    background-image: url('img/download.png');
    background-size: cover;
    position: relative;
    left:35%;
    top:35%;
   
}

* {
    font-family: arial ,sans-serif;
    font-weight: none;
    font-size: none;
}